.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-size: 45px;
}

.Button {
  border: pink 2px solid;
  padding: 8px 15px;
  cursor: pointer;
}

.Button:hover {
  background: pink;

}