.Person {
    margin: 20px auto;
    padding: 15px;
    width: 380px;
    border:lightgray 2px solid;
}

.Person:hover {
    border:gray 1px solid;
}

button:hover {
    background: lightblue;
    border:gray 1px solid;
}

@media (min-width: 550px) {
    .Person {
        width: 550px;
    }
}
